
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>
<form>
    <div id="idPanelLogin">
        <input type="text" id="Rut" value=""/>
        <input type="password" id="PassWord" value="" />
        <input type="button" value="Acceder" id="IdEnviar" />
    </div>
    <div id="IdProcesando" class="hidden">Procesando...</div>
    <div id="idKey" class="hidden">
        <div class="datakey"></div>
        <input type="file" id="fileUpload" />
        <input type="button" value="cargar archivo" id="IdUpload" />
    </div>
</form>

@section Scripts
{
<script>
        $('#IdEnviar').click(function(){
                // debugger;
                var rut = $("#Rut").val();
                var clave = $("#PassWord").val();
                var hola = { rut: rut, clave: clave };
                $("#IdProcesando").removeClass("hidden");
                $("#IdEnviar").addClass("hidden");
                $.ajax({
                    url: "http://localhost:55823/API-CLAAutomotora/Login",
                    type: "POST",
                    ContentType: "application/json",
                    data: hola,
                    success: function (data) {

                        //alert('Exito, posee la siguiente x-key: ' + data.key);
                        var xkay = data.key;
                        if (xkay != "") {
                            //alert("funciona?" + valorretorno);
                            $("#IdProcesando").addClass("hidden");
                            $('#idPanelLogin').addClass("hidden");
                            $('#idKey').removeClass("hidden");
                            $('#idKey div.datakey').append("Su x-Key: <span>"+xkay+"</span>");                        
                        }
                    },
                    error: function (msg) { alert("Error: Datos ingresados no son válidos, favor de verificar."); }
                });

    });


    // Variable to store your files
    var files;

    // Add events
    $('input[type=file]').on('change', prepareUpload);

    // Grab the files and set them to our variable
    function prepareUpload(event) {
        files = event.target.files;
    }

   // $('#IdUpload').click(function () {

   //     var dataxkey = $('.datakey > span').text();
   //     var file = $('#upload').val();
   //     var filename = file.replace(/C:\\fakepath\\/i, '');
   //
   //     var data2 = new FormData();
   //     $.each(files, function (key, value) {
   //         data2.name = 'file';
   //         data2.append(key, value);
   //
   //         $.ajax({
   //             url: 'http://localhost:55823/API-CLAAutomotora/Upload?nombrearchivo='+filename+'&sitio=1',
   //             type: 'POST',
   //             data: data2,
   //             contentType: false,
   //             processData: false,
   //             headers: {
   //                 "x-key": dataxkey
   //             }
   //         }).success(function (data) {
   //
   //             alert('respuesta: ');
   //
   //         });
   //
   //     });

        $(document).ready(function () {

            $('#IdUpload').on('click', function () {


        var dataxkey = $('.datakey > span').text();
        var file = $('#fileUpload').val();
        var filename = file.replace(/C:\\fakepath\\/i, '');

                var data = new FormData();

                var files = $("#fileUpload").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: 'http://localhost:55823/API-CLAAutomotora/Upload?nombrearchivo=' + filename + '&sitio=1',
                    contentType: false,
                    processData: false,
                    headers: { 'x-key': dataxkey },
                    data: data
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            });
        });

  //  });





</script>
}