
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>
<form>
    <div id="idPanelLogin">
        <input type="text" id="Rut" value="" placeholder="ej.:122345648"/>
        <input type="password" id="PassWord" value="" placeholder="su clave de acceso" />
        <input type="button" value="Acceder" id="IdEnviar" />
    </div>
    <div id="IdProcesando" class="hidden">Procesando...</div>
    <div id="idKey" class="hidden">
        <div class="datakey"></div>
        <input type="file" id="fileUpload" />
        <input type="button" value="cargar archivo" id="IdUpload" />
    </div>

   
</form>

@section Scripts
{
<script type="text/javascript">
        $('#IdEnviar').click(function(){
                // debugger;
                var rut = $("#Rut").val();
                var clave = $("#PassWord").val();
                var hola = { rut: rut, clave: clave };
                $("#IdProcesando").removeClass("hidden");
                $("#IdEnviar").addClass("hidden");
                $.ajax({
                    url: "http://172.16.0.93:9030/API-CLAAutomotora/Login",
                    type: "POST",
                    ContentType: "application/json",
                    data: hola,
                    success: function (data) {

                        //alert('Exito, posee la siguiente x-key: ' + data.key);
                        var xkay = data.key;
                        if (xkay != null) {
                            //alert("funciona?" + valorretorno);
                            $("#IdProcesando").addClass("hidden");
                            $('#idPanelLogin').addClass("hidden");
                            $('#idKey').removeClass("hidden");
                            $('#idKey div.datakey').append("Su x-Key: <span>"+xkay+"</span>");
                        }
                    },
                    error: function (msg) {
                        alert("Error: Datos ingresados no son válidos, favor de verificar.");
                        $("#IdProcesando").addClass("hidden");
                        $("#IdEnviar").removeClass("hidden");
                    }
                });

    });


    $('#IdUpload').click(function() {

        SubmitButtonOnclick();

    });

    function SubmitButtonOnclick() {

        var dataxkey = $('.datakey > span').text();
        var file01 = $('#fileUpload').val();
        var filename = file01.replace(/C:\\fakepath\\/i, '');

        var headers = new Array();
        headers["x-key"] = dataxkey;
        headers["contentType"] = "application/json; charset=UTF-8";

        var formData = new FormData();
        var file = document.getElementById("fileUpload").files[0];
        formData.append('file', file);
        $.ajax({
            type: "POST",
            url: "http://172.16.0.93:9030/API-CLAAutomotora/Upload?nombrearchivo=" + filename + "&sitio=1",
            headers: headers,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                alert("Éxito, archivo subido de forma correcta.");
            },
            error: function (data) {
                alert("Error: " + data.responseText);
            }
        });
    }


</script>
}