<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--add name="baseprod2Entities" connectionString="metadata=res://*/Data.ProdModel.csdl|res://*/Data.ProdModel.ssdl|res://*/Data.ProdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=baseprod2;user id=usrBDDesa;password=*pwdBD*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="bdToolsEntities" connectionString="metadata=res://*/Data.BDToolsModel.csdl|res://*/Data.BDToolsModel.ssdl|res://*/Data.BDToolsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=bdTools;user id=usrBDDesa;password=*pwdBD*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/ -->
    <!-- Base de pruebas 158 -->
    <add name="baseprod2Entities" connectionString="metadata=res://*/Data.ProdModel.csdl|res://*/Data.ProdModel.ssdl|res://*/Data.ProdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.158;initial catalog=desarrollo;user id=usdes;password=Su_4320$.x;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="bdToolsEntities" connectionString="metadata=res://*/Data.BDToolsModel.csdl|res://*/Data.BDToolsModel.ssdl|res://*/Data.BDToolsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.158;initial catalog=bdToolsDes;user id=usdes;password=Su_4320$.x;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>