<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <!-- BD 241 -->
    <add name="ConnectionDBString" connectionString="data source=172.16.0.241;initial catalog=baseprod2;user id=usrBDDesa;password=*pwdBD*;" providerName="System.Data.SqlClient" />
    <!-- BD Desarrollo -->
    <!-- add name="ConnectionDBString" connectionString="data source=10.0.0.158; initial catalog=desarrollo;Persist Security Info=True; user id=usdes;password=Su_4320$.x;" providerName="System.Data.SqlClient" / -->
  </connectionStrings>
  <appSettings>
    <add key="public_cert" value="597020000541\tbk.pem" />
    <add key="webpay_cert" value="597020000541\597020000541.pfx" />
    <add key="password" value="transbank123" />
    <add key="commerce_code" value="597020000541" />
    <add key="ambiente" value="INTEGRACION" />
    <add key="urlinittbk" value="https://webpay3gint.transbank.cl/filtroUnificado/initTransaction" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
