<div class="jumbotron">
    <h1>Chileautos</h1>
    <p class="lead">Sitio web de api's para el consumo e integración de automtoras.</p>
    <p><a href="~/xml/doc_v1.1.pdf" target="_blank" class="btn btn-primary btn-lg">Decargar documentación (PDF)</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>x-key e ip válida</h2>
        <p>Recuerde que siempre debe contar con una x-key e ip valida para operar con nuestros servicios.</p>
    </div>
</div>
